.main-container {
    height: 93.5vh;
}

.visual-container {
    border-radius: 1rem;
    color: #FFFFFF;
    padding: 3rem;
}

.visual-container__title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: .5rem;
    width: 90%;
}

.visual-container__subtitle {
    width: 90%;
    margin-bottom: 1rem;
}

.visual-container__image {
    height: 60vh;
}

.form-container {
    margin: 0 10rem;
    justify-content: center;
}

.form-container__title {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-color);
}

.form-container__subtitle {
    color: #707070;
}

.input-container {
    margin-bottom: 1.2rem;
}

.input-label {
    color: var(--text-color);
    font-size: 1rem;
    margin-bottom: .5rem;
    font-weight: 500;
}

.input-field {
    padding: .9rem;
    border-radius: 4px;
    border: 0;
    border: 1px solid var(--border-gray);
    font-size: .9rem;
    color: #9CA3AF;
    margin-bottom: .2rem;
}

::placeholder {
    color: #9CA3AF;
}

.checkbox {
    height: 18px;
    width: 18px;
    border: 1px solid var(--border-gray);
    margin-right: .5rem;
}

.forgot-password a:link {
    color: var(--primary-color);
    transition: all .2s ease-in-out;
}

.forgot-password a:hover,
.create-account a:hover {
    border-bottom: 1px solid var(--primary-color);
}

.not-found-container,
.forgot-container {
    background-color: #D8E8F8;
    height: 100vh;
}

.back-to-home-btn {
    width: 20%;
}

.forgot-card {
    background-color: #FFFFFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 4rem 6rem;
    border-radius: 8px;
    width: 50%;
}

.forgot-card img {
    height: 8vh;
    margin-bottom: 1rem;
}

.forgot-info {
    color: #707070;
}

.forgot-form {
    width: 80%;
}

header {
    background-color: #FFFFFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2rem 6rem;
}

.logout-btn a:link,
.logout-btn a:visited {
    color: #FFFFFF;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    transition: all .5s ease-in-out;
}

.logout-btn a:hover {
    color: var(--primary-color);
    background-color: #FFFFFF;
    border: 2px solid var(--primary-color);
}

.link a:link,
.link a:visited {
    padding: .5rem;
    color: var(--text-color);
    font-weight: 500;
    transition: all .5s ease-in-out;
}

.link a:hover {
    color: var(--primary-color);
}

.security-info {
    margin-left: 5rem;
}

.security-image {
    height: 85vh;
}

.error-message-container {
    background-color: #fee2e2;
    padding: 0.75rem;
    border: 2px solid #FFCCCC;
    border-radius: .5rem;
    margin: 1rem 0;
    align-items: center;
}

.error-message__message {
    color: #EF4444;
    margin-left: .5rem;
}